@model  EPMS.Web.ViewModels.Complaint.ComplaintViewModel
@{
    ViewBag.Title = Model.Complaint.ComplaintId > 0 ? EPMS.Web.Resources.CMS.Complaint.ReplyPageTitle : EPMS.Web.Resources.CMS.Complaint.CreatePageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
}

<!-- Navigation Bar -->
<div class="breadcrumb-container" dir="ltr">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/CMS/Complaint/Index">
                @EPMS.Web.Resources.CMS.Complaint.ComplaintsList
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title </small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")

<!-- Form starts.  -->
