<div id="slideshow" class="gradient">
    <!--  <div  style="margin: 0px; padding: 0px; position: fixed; left: 0px; top: 0px; width: 100% !important; height: 100%; opacity: 0.5;background: transparent url(images/02.png);"></div> -->
    <div class="iosSlider">

        <div class="slider">
            <div class="item">
                <img src="~/images/sliders/iosslider/slide4.jpg" alt="" />
                <div class="caption style2 fromright ">
                    <h2 class="main_title">Masar Scientific Company</h2>
                    <h3 class="title_big">Masar Scientific Company Departments</h3>
                    <a href="#" class="more"><img src="~/Sliders/iosslider/arr01.png" alt=""></a>
                    <h4 class="title_small">Lab Preparation, Lab Furnishing, Kindergarden, New Horizen And Training Services</h4>
                </div>
            </div>

            <div class="item">
                <img src="~/images/sliders/iosslider/slide1.jpg" alt="" /><!-- slide image -->
                <div class="caption style1 fromright">
                    <h2 class="main_title">2015 Designs</h2>
                    <h3 class="title_big">Labs Preparation</h3>
                    <a href="#" class="more"><img src="~/Sliders/iosslider/arr01.png" alt=""></a>
                    <h4 class="title_small">Preparing labs by using latest technologies</h4>
                </div>
            </div><!-- end item -->


            <div class="item">
                <img src="~/images/sliders/iosslider/slide3.jpg" alt="" />
                <div class="caption style1">
                    <h2 class="main_title">Wolrd Certified Certificates</h2>
                    <h3 class="title_big">Training Services</h3>
                    <a href="#" class="more"><img src="~/Sliders/iosslider/arr01.png" alt=""></a>
                    <h4 class="title_small">We have cirtified trainers </h4>
                </div>
            </div><!-- end item -->

            <div class="item">
                <img src="~/images/sliders/iosslider/slide2.jpg" alt="" />
                <div class="caption style2 fromright ">
                    <h2 class="main_title">All The Tools And Devices</h2>
                    <h3 class="title_big">Labs Furnishing</h3>
                    <a href="#" class="more"><img src="~/Sliders/iosslider/arr01.png" alt=""></a>
                    <h4 class="title_small">All you need for schools and universities under one roof</h4>
                </div>
            </div><!-- end item -->



        </div>

        <div class="prev">
            <div class="btn-label">Previous</div>
        </div>

        <div class="next">
            <div class="btn-label">Next</div>
        </div>

        <div class="selectorsBlock bullets">
            <div class="selectors">
                <div class="item first selected"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>

    </div><!-- end iosSlider -->
    <div class="scrollbarContainer"></div>
</div><!-- end slideshow -->