<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span5 footerRight">
                <h3 class="m_title">Menu</h3>
                <ul class="menu">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Labs Preperation</a></li>
                    <li><a href="#">Labs Furnishing</a></li>
                    <li><a href="#">Kindergarden</a></li>
                    <li><a href="#">Learning Games</a></li>
                    <li><a href="#">Training Services</a></li>
                    <li><a href="#">Neo Horizon</a></li>
                    <li><a href="#">News And Articles</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul><!-- end footer menu -->
            </div>
            <div class="span4 footerMid">
                <div class="newsletter-signup">
                    <h3 class="m_title">Latest News</h3>


                    <ul class="menu">
                        <li>
                            <a href="#">Our New Branch</a>
                            <p><span>15/3/2015</span><br/>Please visit us in our new branch on Olya street</p>
                        </li>
                        <li>
                            <a href="#">New Device</a>
                            <p><span>25/1/2014</span>dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit<br/> </p>
                        </li>


                    </ul><!-- end footer menu -->

                </div><!-- end newsletter-signup -->
            </div>
            <div class="span3 footerCont">
                <div class="contact-details">
                    <h3 class="m_title">Contact us</h3>
                    <p>
                        Masar Scientific Company<br />
                        dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit
                    </p>

                    <p>
                        <strong>Phone: </strong>966 011 4039342<br />
                        <strong>Email: </strong> <a href="#">sales@masar.biz</a>
                    </p>

                    <p><a href="http://www.google.com" target="_blank" class="map-link"><span class="icon-map-marker icon-white"></span> Google Map Location</a></p>
                </div><!-- end contact-details -->
            </div>
        </div><!-- end row -->



        <div class="row" style="margin-bottom:0px;">
            <div class="span12">
                <div class="bottom fixclear">

                    <div class="copyright">
                        <a href="~/Home/Index"><img src="~/images/logoDark.png" alt="" /></a>
                        <p>
                            &copy; 2015 <strong>Masar Scientific Company</strong>. All rights reserved -
                            Powered by <a href="http://www.cr3ativ3mind.com/" target="_blank">CR3ATIV3MIND</a>
                        </p>
                    </div><!-- end copyright -->
                </div><!-- end bottom -->
            </div>
        </div><!-- end row -->

    </div>
</footer>   