.select2me {
    width: 128% !important;
}
.required{
    color: #e02222;
}
.Error{
    color: #e02222;
}
.datepickerArabic .IqamaIssueDateAr .IqamaExpiryDateAr .PassportExpiryDateAr{
    width: 125px;
    margin-right: 10px;
}
.calendars-month-year {
    width: 100%;
    margin: 0 0;
}
.calendars-month-header {
    display: flex !important;
}
.datepicker .datepickerArabic .IqamaIssueDateAr .IqamaExpiryDateAr .inline-font-icons-list .PassportExpiryDateAr {
    width: 10px !important;
}
.cursorHand {
    cursor: pointer !important;
}

.text-align-center {
    text-align: center !important;
}

.dataTables_wrapper img {
    max-height: 100px !important;
}
.table {
    max-width: 100%;
}
.areaLabel {
    margin-top: -36px;
    margin-left: 15px;
}
.controllerLabel {
    margin-top: -37px;
    margin-left: 15px;
}
.controllerChek {
    margin-left: 35px !important;
}
.actionChek {
    margin-top: 5px !important;
}
.actionLabel {
    margin-top: -32px;
    margin-left: 5px;
}
.childItem {
    margin-left: 35px !important;
}
.areaItem {
    padding-top: 5px !important;
}