@model EPMS.Web.ViewModels.Services.ServicesViewModel

@{
    ViewBag.Title = "Website Services's Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content withPanel">
    <div class="panel">
        <div class="panel-content filler">
            <div class="panel-logo"></div>
            <div class="panel-header">
                <h1><small>Services</small></h1>
            </div>
            <div class="panel-search container-fluid">
                <form class="form-horizontal" action="javascript:;">
                    <input id="panelSearch" placeholder="Search" type="text" name="panelSearch">
                    <button class="btn btn-search"></button>
                </form>
            </div>
            <div class="sidebarMenuHolder">
                <div class="JStree">
                    <div class="Jstree_shadow_top"></div>
                    <div id="jstree"></div>
                    <div class="Jstree_shadow_bottom"></div>
                </div>
            </div>
        </div>
        <div class="panel-slider">
            <div class="panel-slider-center">
                <div class="panel-slider-arrow"></div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-container">
        <ul class="xbreadcrumbs">
            <li>
                <a href="~/Dashboard/Index">
                    <i class="icon-photon home"></i>
                </a>
            </li>
            <li>
                Website Services
            </li>
        </ul>
    </div>
    <header>
        <i class="icon-big-notepad"></i>
        <h2><small>Website Services</small></h2>
    </header>
    @Html.Partial("_Alert")
    <form class="form-horizontal" id="validation_form">
        <div class="container-fluid">
            
        </div>
        <!-- end container -->
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#layoutMainContent").removeClass("main-content");
    });
</script>