<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>jsTree test</title>
    <!-- 2 load the theme CSS file -->
    <link href="~/Content/CSS/jsTreeCheckbox/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/jsTreeCheckbox/style.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/jsTreeCheckbox/docs.css" rel="stylesheet" />
</head>
<body>
    <div id="jstree" style="margin-left: 10%; margin-top: 5%">
    </div>
    <button>Get Selected Childs</button>
    <!-- 4 include the jQuery library -->
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <!-- 5 include the minified jstree source -->
    <script src="~/Scripts/jstree.min.js"></script>
    <script src="~/Scripts/Functions/jsTreePopulate.js"></script>
    <script type="text/javascript">
        var dir = "ltr";
        var treeInitialData;
        var myTree;
        var url;
        var divId = "jstree";
        var selectedChildNodes = new Array();
        $(function () {
            $.jstree.path = "/Scripts/plugins/";
            url = "/Website/Test/GetTreeData/";
            populateTreeJson(url, divId);
            $('button').on('click', function () {
                var selectedNodes = $("#jstree").jstree("get_checked", true, true);
                $.each(selectedNodes, function (key, value) {
                    if (value.children.length == 0) {
                        selectedChildNodes.push(value.id);
                    }
                });
            });
        });
    </script>
</body>
</html>
