@model EPMS.Web.ViewModels.Tasks.TaskCreateViewModel

@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/PMS/Task/Index">

            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@Model.Header</small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->
@using (Html.BeginForm("Create", "Task", FormMethod.Post, new {@class = "form-horizontal", @id = "AddEditTaskForm", role = "form", enctype = "multipart/form-data"}))
{
    @*@Html.HiddenFor(model => model.Orders.OrderId)*@
    <div class="container-fluid">
        
    </div>
}