@model EPMS.Web.ViewModels.Tasks.TaskCreateViewModel

@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/PMS/Task/Index">

            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@Model.Header</small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->
@using (Html.BeginForm("Create", "Task", FormMethod.Post, new { @class = "form-horizontal", @id = "AddEditTaskForm", role = "form", enctype = "multipart/form-data" }))
{
    @*@Html.HiddenFor(model => model.Orders.OrderId)*@
    <div class="container-fluid">
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="">Client Name</label>
            </div>
            <div class="span2">
                <div class="controls">

                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="">Project Name </label>
            </div>
            <div class="span2">
                <div class="controls">

                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="department">Task Name</label>
            </div>
            <div class="span9">
                <div class="controls">

                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="departmenta">Task Name arabic</label>
            </div>
            <div class="span9">
                <div class="controls">

                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="JobID">Description</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input id="JobID" type="text" name="inputField" value="CLK Editor">
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="JobIDa">Description arabic</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input id="JobIDa" type="text" name="inputField" value="CLK Editor">
                </div>
            </div>
        </div>
        <div id="Dual_Multi_Select_with_Filter_Search" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="dualMulti">Pre-Requisit Tasks</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <select multiple name="dualMulti" id="dualMulti">
                        <option selected="" value="Task1">Task1</option>
                        <option value="Task1">Task2</option>
                        <option value="Task1">Task3</option>
                        <option value="Task1">Task4</option>
                        <option value="Task1">Task5 </option>
                    </select>
                </div>
            </div>
        </div>
        <div id="Date_Picker" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="datepicker">
                    Start Date<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input type="text" id="datepicker" class="span3 datepicker" />
                </div>
            </div>
        </div>
        <div id="Date_Picker2" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="datepicker2">
                    End Date<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input type="text" id="datepicker2" class="span3 datepicker" />
                </div>
            </div>
        </div>

    </div>
}

<script>
    $().ready(function () {
        $("#dualMulti").pickList({
            sourceListLabel: "Tasks",
            targetListLabel: "Prerquisit Tasks",
        });
        $("#dualMulti2").pickList({
            sourceListLabel: "Employees - Number Of Tasks They Are Working On",
            targetListLabel: "Added",
        });
        $('.datepicker').mask('99/99/9999');
        $(".datepicker").datepicker();
    });
</script>