@using EPMS.Website.ViewModels.﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="#">Home Page</a></li>
                    <li>Products</li>
                </ul>
                <span id="current-date">THURSDAY, 14 JUNE 2001</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>Products</h2>
                    <h4>Select by Catagory</h4>
                </div>
            </div>
        </div><!-- end row -->
    </div>
    <div class="shadowUP"></div>
</div><!-- end page_header -->
<section id="content">
    <div class="container">
        <div id="mainbody">
            <div class="row">
                <div class="span3  directionR">
                    <h1 class="page-title">Poduct Classification</h1>
                    <div class="css-treeview">
                        <ul>
                            <li class="phy">
                                <input type="checkbox" id="item-0" /><label for="item-0">Physics Department</label>
                                <ul>
                                    <li class="phy">
                                        <input type="checkbox" id="item-0-0" /><label for="item-0-0">Labs</label>
                                        <ul>
                                            <li class="phy">
                                                <input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0">Glassware</label>
                                                <ul>
                                                    <li class="phy"><a href="#">Glasses</a></li>
                                                    <li class="phy"><a href="#">Flasks</a></li>
                                                    <li class="phy"><a href="#">Cylinders</a></li>
                                                    <li class="phy"><a href="#">Dispencers</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="item-0-1" /><label for="item-0-1">Experiments</label>
                                        <ul>
                                            <li class="phy"><a href="#">experiment 1</a></li>
                                            <li class="phy"><a href="#">experiment 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="chmy">
                                <input type="checkbox" id="item-1" /><label for="item-1">Chemistry Department</label>
                                <ul>
                                    <li class="chmy">
                                        <input type="checkbox" id="item-1-0" /><label for="item-1-0">Labs</label>
                                        <ul>
                                            <li class="chmy"><a href="#">Glassware</a></li>
                                            <li class="chmy"><a href="#">Experiments</a></li>
                                            <li class="chmy"><a href="#">Chemicals</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title margintop10">Catalog</h1>
                    <a href="#"><img src="images/shop_images/catalog.jpg"></a>
                </div>

                <div class="span9 directionR">
                    <h1 class="page-title">Products</h1>
                    <div class="row">
                        <div class="span9 linebot center-sm margintopLess10">
                            <div class="filtersgroup">
                                <div class="limit">
                                    <span>Search:</span>
                                    <input name="qfront" maxlength="100" class="inputbox" type="text" size="100">
                                </div>
                                <div class="limit">
                                    <span>Show:</span>
                                    <select onchange="location = this.value;">
                                        <option value="" selected="selected">9</option>
                                        <option value="">15</option>
                                        <option value="">24</option>
                                        <option value="">60</option>
                                        <option value="">90</option>
                                    </select>
                                </div>
                                <div class="sort">
                                    <span>Sort By :</span>
                                    <select onchange="location = this.value;">
                                        <option value="" selected="selected">Default</option>
                                        <option value="">By Name (A - Z)</option>
                                        <option value="">By Name (Z - A)</option>
                                        <option value="">By Highest Price</option>
                                        <option value="">By Lowest Price</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="span3">
                            <div class="product-list-item">
                                <span class="hover"></span>
                                <div class="image">
                                    <a href="pages-productitem.html"><img src="images/shop_images/img1.png" alt=""></a>
                                </div>
                                <div class="details fixclear">
                                    <h3>Glass</h3>
                                    <p><strong>SKU:</strong> #95846</p>
                                    <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                    <div class="actions">
                                        <a href="#">Add To Cart</a>
                                        <a href="pages-productitem.html">More</a>
                                    </div>
                                    <div class="price">
                                        <span>129,99</span><span>SR</span>
                                        <small>199</small>
                                    </div>
                                </div>
                            </div><!-- end product-item -->
                        </div>
                    </div><!-- end row -->
                    <div class="span4">
                        <div class="pagination">
                            <a href="#"><div class="previous"><i class="fa fa-long-arrow-right"></i></div></a>
                            <a href="#" class="active"><div class="page-button">1</div></a>
                            <a href="#"><div class="page-button">2</div></a>
                            <a href="#"><div class="page-button">3</div></a>
                            <a href="#"><div class="next"><i class="fa fa-long-arrow-left"></i></div></a>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="span12 ">
                    <div class="shop-latest">
                        <div class="tabbable">
                            <ul class="nav fixclear">
                                <li class="active"><a href="#tabpan1" data-toggle="tab">New Arrivels</a></li>
                                <li><a href="#tabpan2" data-toggle="tab">Best Sell</a></li>
                                <li><a href="#tabpan3" data-toggle="tab">Ramdom Products</a></li>
                                <li><a href="#tabpan4" data-toggle="tab">Featured Products</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabpan1">
                                    <div class="shop-latest-carousel">
                                        <ul id="latest_products ">
                                            <li>
                                                <div class="product-list-item  ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->
                                <div class="tab-pane" id="tabpan2">
                                    <div class="shop-latest-carousel">
                                        <ul id="bestselling_products">
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->
                                <div class="tab-pane " id="tabpan3">
                                    <div class="shop-latest-carousel">
                                        <ul id="latest_products2 ">
                                            <li>
                                                <div class="product-list-item  ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->
                                <div class="tab-pane" id="tabpan4">
                                    <div class="shop-latest-carousel">
                                        <ul id="bestselling_products4">
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->

                            </div><!-- /.tab-content -->
                        </div><!-- /.tabbable -->
                    </div><!-- end shop latest -->
                </div>
            </div><!-- end row -->
        </div><!-- end mainbody -->
    </div><!-- end container -->
</section><!-- end #content -->
