@{
    ViewBag.Title = "Simple";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" id="validation_form">
    <div class="container-fluid">
        <h2>Simple</h2>
    </div>
</form>
