@model EPMS.WebModels.ViewModels.Website.Home.WebsiteHomeViewModel

@{
    ViewBag.Title = "MASAR Scientific Company";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
}

<section id="content">
    <div class="container">
        <div class="row image-boxes imgboxes_style1 catagoryBox">
            <h3>Main Departments</h3>
            
            @foreach (var department in Model.WebsiteDepartments)
            {
                <div class="span4 box">
                    <a href="#" class="hoverBorder">
                        @if (department.ImageName != "" || department.ImageName != null)
                        {
                            <img src='http://localhost:43063/Images/Department/@Url.Content(department.ImageName)' alt="">
                        }
                        else
                        {
                            <img src="~/images/noimage_department.png" alt="">
                        }
                        <h6><a href=""></a> For More +</h6>
                    </a>
                    <h3 class="m_title">@(direction == "ltr" ? department.NameEn : department.NameAr)</h3>
                    <p style="text-align: justify">@department.Description</p>
                </div>
            }

        </div>
        <!-- end row // imgboxes_style1 -->

    </div>

    <div class="container">


        <div class="row partners_carousel">
            <div class="span2 floatRight">
                <h3 class="title"><span>Our Partners</span></h3>
                <div class="controls">
                    <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                    <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                </div>
            </div>
            <div class="span10">
                <ul id="partners_carousel" class="fixclear" >
                    @foreach (var partner in Model.Partners)
                    {
                        <li style="height: 103px"><a href="http://@partner.Link" target="_blank"><img src="http://localhost:43063/Images/Partner/@Url.Content(partner.ImageName)" alt="" /></a></li>
                    }
                </ul>
            </div>
        </div>
        <!-- end row // partners carousel -->

        <div class="row">
            <div class="span12">
                <div class="keywordbox"> We always provide you the best we can to help you get what you want </div>
            </div>
        </div><!-- end row // keywords-->

    </div>
    <!-- end container -->

</section><!-- end #content -->

<script type="text/javascript">
    
    $(document).ready(function() {
        (function ($) {
            // ** partners carousel
            $('#partners_carousel').carouFredSel({
                responsive: true,
                scroll: 1,
                auto: false,
                items: {
                    width: 250,
                    visible: {
                        min: 3,
                        max: 10
                    }
                },
                prev: {
                    button: ".partners_carousel .prev",
                    key: "left"
                },
                next: {
                    button: ".partners_carousel .next",
                    key: "right"
                }
            });
            // *** end partners carousel

        })(jQuery);
    })
</script>