@{
    ViewBag.Title = "MASAR Scientific Company";
}

<section id="content">
    <div class="container">
        <div class="row image-boxes imgboxes_style1 catagoryBox">
            <h3>Main Departments</h3>
            <div class="span4 box">
                <a href="#" class="hoverBorder">
                    <img src="~/images/site_images/5.jpg" alt="">
                    <h6>For More +</h6>
                </a>
                <h3 class="m_title">Lab Preparatoin</h3>
                <p>Lorem ipsum dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit. Aliquid verterem quo id, nominavi indoctum pro et, vim ad diceret assueverit definitiones.</p>
            </div><!-- end span -->
            <div class="span4 box">
                <a href="#" class="hoverBorder">
                    <img src="~/images/site_images/1.jpg" alt="">
                    <h6>For More +</h6>
                </a>
                <h3 class="m_title">Lab Furnishing</h3>
                <p>Lorem ipsum dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit. Aliquid verterem quo id, nominavi indoctum pro et, vim ad diceret assueverit definitiones.</p>
            </div><!-- end span -->

            <div class="span4 box">
                <a href="#" class="hoverBorder">
                    <img src="~/images/site_images/img2.jpg" alt="">
                    <h6>For More +</h6>
                </a>
                <h3 class="m_title">Training Services</h3>
                <p>Lorem ipsum dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit. Aliquid verterem quo id, nominavi indoctum pro et, vim ad diceret assueverit definitiones.</p>
            </div><!-- end span -->

            <div class="span4 box">
                <a href="#" class="hoverBorder">
                    <img src="~/images/site_images/2.jpg" alt="">
                    <h6>For More +</h6>
                </a>
                <h3 class="m_title">Air Conditioning Services</h3>
                <p>Lorem ipsum dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit. Aliquid verterem quo id, nominavi indoctum pro et, vim ad diceret assueverit definitiones.</p>
            </div><!-- end span -->
            <div class="span4 box">
                <a href="#" class="hoverBorder">
                    <img src="~/images/site_images/4.jpg" alt="">
                    <h6>For More +</h6>
                </a>
                <h3 class="m_title">Kindergarden</h3>
                <p>Lorem ipsum dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit. Aliquid verterem quo id, nominavi indoctum pro et, vim ad diceret assueverit definitiones.</p>
            </div><!-- end span -->



            <div class="span4 box">
                <a href="#" class="hoverBorder">
                    <img src="~/images/site_images/6.jpg" alt="">
                    <h6>For More +</h6>
                </a>
                <h3 class="m_title">Learning Games</h3>
                <p>Lorem ipsum dolor sit amet, utinam volutpat principes sea id, vim an populo eripuit. Aliquid verterem quo id, nominavi indoctum pro et, vim ad diceret assueverit definitiones.</p>
            </div><!-- end span -->

        </div><!-- end row // imgboxes_style1 -->





    </div>

    <div class="container">


        <div class="row partners_carousel">
            <div class="span2 floatRight">
                <h3 class="title"><span>Our Partners</span></h3>
                <div class="controls">
                    <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                    <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                </div>
            </div>
            <div class="span10">
                <ul id="partners_carousel" class="fixclear">
                    <li><a href="#"><img src="~/images/partners/cc.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/partners/ad.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/partners/3d.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/partners/tf.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/partners/3d.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/partners/tf.png" alt="" /></a></li>
                </ul>
            </div>
        </div><!-- end row // partners carousel -->

        <div class="row">
            <div class="span12">
                <div class="keywordbox"> We always provide you the best we can to help you get what you want </div>
            </div>
        </div><!-- end row // keywords-->

    </div><!-- end container -->
</section><!-- end #content -->     