@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="breadcrumb-container">
        <ul class="xbreadcrumbs">
            <li>
                <a href="#">
                    <i class="icon-photon home"></i>
                </a>
            </li>
            <li>
                <a href="#">Inventory Request For Item List</a>
            </li>
            <li class="current">
                <a href="#">Inventory RFI Create</a>
            </li>
        </ul>
    </div>

    <header>
        <i class="icon-big-notepad"></i>
        <h2><small>Inventory Items Addition</small></h2>
    </header>

    <!--Notifications begin-->
    @Html.Partial("_Alert")
    <!--Notifications end-->

    @using (Html.BeginForm("Create", "RFI", FormMethod.Post, new {@id = "RFIForm", @class = "form-horizontal", role = "form"}))
    {
        <div class="container-fluid">
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="MaritalStatus">Client </label>
                </div>
                <div class="span2">
                    <div class="controls">
                        <select>
                            <option>Mohammed </option>
                            <option>Ali</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="MaritalStatus">OrderName - Order# </label>
                </div>
                <div class="span2">
                    <div class="controls">
                        <select>
                            <option>OrderName - Order# </option>
                            <option>OrderName - Order#</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Input Field begin-->
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="createdBy">Created By  </label>
                </div>
                <div class="span9">
                    <div class="controls">
                        <input id="createdBy" type="text" disabled value="Employee Name">
                    </div>
                </div>
            </div>
            <!--Input Field end-->
            <!--Input Field begin-->
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="greeting">Usage</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        <input id="greeting" type="text">
                    </div>
                </div>
            </div>
            <!--Input Field end-->
            <!--Input Field begin-->
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="greetinga">Usage in arabic</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        <input id="greetinga" type="text">
                    </div>
                </div>
            </div>
            <!--Input Field end-->
            <!--WYSIWYG Editor - Minimum Options begin-->
            <div id="WYSIWYG_Editor_-_Minimum_Options" class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">Excel Import</label>
                </div>
                <div class="span9">
                    <div class="controls elrte-wrapper">
                        <textarea id="tiny" rows="2" class="auto-resize"></textarea>
                        <script>
                            $('#tiny').elrte({
                                lang: "en",
                                styleWithCSS: false,
                                height: 200,
                                toolbar: 'tiny'
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3 span-inset">
                    <button type="button" id="importEx" class="btn">Import</button>
                </div>
                <div class="span3 span-inset">
                    <button type="button" id="itemFromOrder" class="btn">Import Items From Order</button>
                </div>
            </div>
            <!--WYSIWYG Editor - Minimum Options end-->
            <!--Basic Responsive Table begin-->
            <div class="row-fluid" id="ress">
                <div class="span12">
                    <table class="table table-striped table-responsive ">
                        <thead class="">
                            <tr>
                                <th>Serial</th>
                                <th style="width: 85%">Item Details</th>
                                <th>Quantity</th>

                                <th style="width: 4%">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="qouteAdd">
                            <tr>
                                <td>
                                    <div class="control-group row-fluid">
                                        <div class="span1">
                                            <label class="control-label serialNumber">1</label>
                                        </div>

                                    </div>
                                </td>
                                <td>

                                    <textarea rows="2" class="auto-resize"></textarea><button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemSearcher">+</button>


                                </td>
                                <td class="quantity">

                                    <input class="n1" type="text" name="numbers" value="0">

                                </td>


                                <td class="delete">
                                    <i class="icon-photon minus deleteRow"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="control-group row-fluid">
                    <div class="span3 span-inset">
                        <button type="button" class="btn trAdder">Add</button>
                        <script>

                            $(document).ready(function() {

                                $('.trAdder').on("click", function() {

                                    var html = ' <tr>  <td ><div class="control-group row-fluid"><div class="span1"><label class="control-label serialNumber"  ></label></div></div></td>  <td > <textarea  rows="2" class="auto-resize"></textarea><button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemSearcher" >+</button></td><td class="quantity"> <input class="n1" type="text" name="numbers" value=0> </td>  <td class="delete"> <i class="icon-photon minus deleteRow"></i> </td></tr>';
                                    $('.qouteAdd').append(html);
                                    activateSerial();
                                    reActivateDelete();
                                    //reactivateCount();

                                });
                                reActivateDelete();

//reactivateCount();
                                function reActivateDelete() {
                                    $('.deleteRow').on("click", function() {
                                        var count = $('.qouteAdd tr').length;
                                        if (count > 1) {
                                            $(this).parent().parent().remove();
                                            /*
															var x = 0;
													$('.qouteAdd tr .n3').each(function(){

														 x  = x + parseInt($(this).val());

													});
														$('#subtotal').val(x);
														discount();
														*/
                                        }
                                        activateSerial();
                                    });
                                }

                                function activateSerial() {
                                    var count = $('.qouteAdd tr').length;
                                    var add = 0;
                                    $('.qouteAdd tr').each(function() {
                                        add++;
                                        $(this).find(".serialNumber").text(add);

                                    });


                                }


                                $("#importEx").on("click", function() {

                                    var excel = $("#WYSIWYG_Editor_-_Minimum_Options iframe").contents().find("body table");
                                    var coln = $(excel).find("tr:first td").length;
                                    var count = 0;
                                    var x = 0;
                                    if (coln == 2) {
                                        $(excel).find("tr").each(function() {
                                            var y = 0;
                                            var t1 = "";
                                            var t2 = 0;
                                            var t3 = 0;
                                            var t4 = 0;


                                            $(this).find("td").each(function() {


                                                if (y == 0) {
                                                    t1 = $(this).text();

                                                } else if (y == 1) {
                                                    t2 = parseInt($(this).text());
                                                } else if (y == 2) {
                                                    t3 = parseInt($(this).text());
                                                }

                                                y++;
                                            });

                                            t4 = t3 * t2;
                                            var html = ' <tr> <td ><div class="control-group row-fluid"><div class="span1"><label class="control-label serialNumber"></label></div></div></td><td > <textarea rows="2" class="auto-resize" >' + t1 + '</textarea><button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemSearcher" >+</button>	 </td> <td class="quantity"> <input class="n1" type="text" name="numbers" value="' + t2 + '"> </td> <td class="delete"> <i class="icon-photon minus deleteRow"></i> </td></tr>'

                                            if (count == 0) {
                                                $('.qouteAdd').html("");
                                            }

                                            $('.qouteAdd').append(html);
                                            reActivateDelete();
                                            //reactivateCount();

                                            count++;
                                        });
                                       
                                        activateSerial();
                                    } else {

                                        $.pnotify({
                                            title: 'Sorry',
                                            type: 'info',
                                            text: 'The sheet you are trying to import is not supported, please check if the feilds match.'
                                        });

                                    }

                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <!--Basic Responsive Table end-->
            <div class="control-group row-fluid">
                <div class="span3 span-inset">
                    <button type="button" class="btn">Submit</button>
                </div>
            </div>
        </div>
        <!-- end container -->
    }

<div id="itemSearcher" class="modal hide fade treeSelector">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Item Search</h3>
    </div>
    <div class="modal-body ">
        <form class="form-horizontal">
            <div id="Simple_Select_Box_with_Filter_Search" class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="selectBoxFilter">Select Item</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        <select name="selectBoxFilter" id="selectBoxFilter">
                            <option selected="" value="All">Item1 - sku1</option>
                            <option value="Beige">Item2 - sku1</option>
                            <option value="Beige">Item2 - sku2</option>
                            <option value="Beige">Item2 - sku3</option>
                            <option value="Beige">Item3 - sku1</option>
                        </select>
                    </div>
                </div>
                <script>
                                $().ready(function(){
                                    $("#selectBoxFilter").select2();
                                });
                </script>
            </div>

            <div class="control-group row-fluid">
                <div class="span4">
                    <label class="control-label" for="selectBoxFilter">Item Tree Selector</label>
                </div>
                <div class="span8 span-inset">
                    <button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemTreeSelector">+</button>
                </div>

            </div>
            <div class="control-group row-fluid">

                <div class="span9 ">
                    <label class="control-label">
                        <input type="checkbox" class="uniformCheckbox" value="checkbox1" style="margin: -1px 2px 0px 0px;">Add Item Description
                    </label>

                    <label class="control-label">
                        <input type="checkbox" class="uniformCheckbox" value="checkbox1" style="margin: -1px 2px 0px 0px;">Add Item SKU
                    </label>
                </div>

            </div>

        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-primary">Save Changes</a>
        <a href="javascript:;" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>

<div id="itemTreeSelector" class="modal hide fade treeSelector">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Place in Warehouse Tree</h3>
    </div>
    <div class="modal-body ">
        <form class="form-horizontal">
            <script type="text/javascript">

			  $(function () {
                $("#jstree").jstree({
                    "json_data" : {
                        "data" : [
                            {
                                "data" : {
                                    "title" : "Uniform",
                                    "attr" : { "href" : "#" }
                                },
                                "children" : [
                                    {
                                        "data" : {
                                            "title" : "Boys",
                                            "attr" : { "href" : "#" }
                                        }
                                    },
                                    {
                                        "data" : {
                                            "title" : "Girls",
                                            "attr" : { "href" : "#" }
                                        }
                                    }
                                ]
                            },
                            {
                                "data" : {
                                    "title" : "Labratory",
                                    "attr" : { "href" : "#" }
                                },
                                "attr" : { "id" : "node1" },
                                "children" : [
                                    {
                                        "data" : {
                                            "title" : "Account Settings",
                                            "attr" : { "href" : "#" }
                                        }
                                    },
                                    {
                                        "data" : {
                                            "title" : "Warnings and Blocks",
                                            "attr" : { "href" : "#" }
                                        }
                                    },
                                    {
                                        "data" : {
                                            "title" : "Physics",
                                            "attr" : { "href" : "#" }
                                        },
                                        "attr" : { "id" : "node2" },
                                        "children" : [
                                            {
                                                "data" : {
                                                    "title" : "Glass",
                                                    "attr" : { "href" : "#" }
                                                },
                                                "attr" : { "id" : "node3" },
														  "children" : [

													{
														"data" : {
															"title" : "Beakers",
															"attr" : { "href" : "#" }
														}
														,
														 "attr" : { "id" : "node4" },
														  "children" : [

																{
																	"data" : {
																		"title" : "Beakers",
																		"attr" : { "href" : "#" }
																	}

																	,
																		 "attr" : { "id" : "node4" },
																		  "children" : [

																				{
																					"data" : {
																						"title" : "Sku1",
																						"attr" : { "href" : "#" }
																					}




																				},
																				{
																					"data" : {
																						"title" : "Sku2",
																						"attr" : { "href" : "#" }
																					}
																				}
																			]




																},
																{
																	"data" : {
																		"title" : "Flasks",
																		"attr" : { "href" : "#" }
																	}
																}
															]



													},
													{
														"data" : {
															"title" : "Flasks",
															"attr" : { "href" : "#" }
														}
													}
												]

                                            },
                                            {
                                                "data" : {
                                                    "title" : "I Forgot My Password",
                                                    "attr" : { "href" : "#" }
                                                }
                                            },
                                            {
                                                "data" : {
                                                    "title" : "Can You Send Me a Copy",
                                                    "attr" : { "href" : "#" }
                                                }
                                            },
                                            {
                                                "data" : {
                                                    "title" : "How Can I ",
                                                    "attr" : { "href" : "#" }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "data" : {
                                            "title" : "Deactivating, Deleting, Saving",
                                            "attr" : { "href" : "#" }
                                        }
                                    },
                                    {
                                        "data" : {
                                            "title" : "Downloading Your Info",
                                            "attr" : { "href" : "#" }
                                        }
                                    }
                                ]
                            }
                        ]
                    },
                    "plugins" : [ "themes", "json_data", "ui" ],
                    "ui" : {
                        "initially_select" : [ "node3" ]
                    },
                    "core" : {
                        "initially_open" : [ "node1" , "node2" ]
                    }
                });
            });

            </script>

            <div class="sidebarMenuHolder">
                <div class="JStree">
                    <div class="Jstree_shadow_top"></div>
                    <div id="jstree"></div>
                    <div class="Jstree_shadow_bottom"></div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-primary">Select</a>
        <a href="javascript:;" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>