@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


    <div class="breadcrumb-container">
        <ul class="xbreadcrumbs">
                <li>
                    <a href="dashboard(Employee)En.html">
                        <i class="icon-photon home"></i>
                    </a>
                </li>
                <li>
                    <a href="DepartmentsList(Admin)En.html">
                        Home
                    </a>
                </li>
                <li class="current">
                    <a href="javascript:;">
                       Index
                    </a>
                </li>

            </ul>
    </div>
    <header>
        <i class="icon-big-notepad"></i>
        <h2><small>@ViewBag.Title</small></h2>
    </header>
    <!--Notifications begin-->
    @Html.Partial("_Alert")
    <!--Notifications end-->
