<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="DefaultConnection" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;LogCategory: {logcategory}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="System.ServiceModel" />
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=EPMS;Integrated Security=True; user id=cares, password=p@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=EPMS;integrated security=True;user id=&quot;cares, password=p@ssw0rd&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->


    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=EPMSProject;Integrated Security=True; user id=cares, password=p@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=EPMSProject;integrated security=True;user id=&quot;cares, password=p@ssw0rd&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=EPMSInventory;Integrated Security=True; user id=cares, password=p@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=EPMSInventory;integrated security=True;user id=&quot;cares, password=p@ssw0rd&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=118.139.182.155;Initial Catalog=EPMSProject;Integrated Security=True; user id=cares, password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.139.182.155;initial catalog=EPMSProject;user id=cares;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="DefaultConnection" connectionString="Data Source=118.139.182.155;Initial Catalog=EPMSInventory;Integrated Security=True; user id=cares, password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.139.182.155;initial catalog=EPMSInventory;user id=cares;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="DefaultConnection" connectionString="Data Source=pink.mysitehosted.com;Initial Catalog=EPMS;Integrated Security=True; user id=EPMSUser, password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pink.mysitehosted.com;initial catalog=EPMS;user id=EPMSUser;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>

    <!--For Hassan-->
    <!--<add key="LicenseKey" value="U7lkNY9CEQbdeTYzcKFZl+6746Wxhn02+PUzkR8lHSd/i1uV3nonjqQ+UD868GOwkWoxvML4/4P3upYez80lkHiIUlS+HgTmXX9yzu1kGoiXb7F3Bgyu87oBng1p56ud"/>-->

    <!--For Hassan New PC-->
    <!--<add key="LicenseKey" value="U7lkNY9CEQbdeTYzcKFZl5wiMPXi2npbkmX9o4ht6+2eB3w5X5gX2QLsqFv65oOBxYJsrvw44ftn4Y7Ax1vr9EfNWcPkalUZuCpWoshwMa4knjF/80FX2gDjouIkU7XR"/>-->

    <!--For Ammar-->
    <add key="LicenseKey" value="ECSNod0gxMFwNTV5jVGwgx4DEv5lUZPFDbCS2DGTVupOnjq03S7+9SUyqSnLSyLE/6scKMLEtnW2LDrHurcX0+ixI4J3HU7kbqDcTgNPPasxddUklKM+xWjW15F0uIwJ0XHjUQ03bhzl1Q45OmW3BzrfUoxYrMMAhm/xNdnN8s8=" />

    <!--For Nadir-->
    <!--<add key="LicenseKey" value="vHWfT9kiTpsznk94y7stxsgvYDXDeg6xJfZn6aeXKXq97d4UqKO+K9llVRBFLIuCTCsYVM7MCdz9u4RMTybJp2pNU9bUyZ26l8AD2JnCzxU7/YcW5Ka9C2QEvkFp5wYcQAkR6voMrxgSQCO8evuC1pz5ZxPIZMyz7xIfa+eyi+bOn+zlwkn5ztlTojhHaaKf" />-->

    
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="IdentitySample.Startup,EPMS.Web" />
  
    <!--Email settings-->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="FromAddress" value="testinnostark4@gmail.com" />
    <add key="FromPassword" value="elegantflower1" />
    <add key="EnableSSL" value="1" />
    <add key="FromDisplayNameA" value="EPMS" />
    <add key="CC" value="" />
    <add key="BCC" value="" />
    <add key="SubjectContactUs" value="Contact Us-EPMS" />
    <add key="SubjectNotification" value="Notification-EPMS" />
    <add key="ToAdmin" value="testinnostark3@gmail.com" />
    <!--end Email settings-->
    
    <add key="CounterFilePath" value="~/counter.txt" />
    <add key="ProfileImage" value="/Images/Profile/" />
    <add key="NewsImage" value="~/Images/News/" />
    <add key="HomeSliderImage" value="~/Images/HomeSlider/" />
    <add key="GalleryImage" value="~/Images/Gallery/" />
    <add key="EmployeeImage" value="/Images/Employee/" />
    <add key="ApplicantCv" value="/Files/ApplicantCvs/" />
    <add key="ProjectDocuments" value="/Files/ProjectDocuments/" />
    <add key="MeetingDocuments" value="/Files/MeetingDocuments/" />
    <add key="CompanyLogo" value="/Images/CompanyLogo/" />
    <add key="ItemImage" value="/Images/ItemImage/" />
    <add key="SiteURL" value="" />
    
    
    <!--SMS Configuration start-->
    <add key="MobileUsername" value="0594368543" />
    <add key="MobilePassword" value="225656" />
    <add key="TagName" value="EPMS" />
    <add key="SmsApiUrl" value="http://api.yamamah.com/SendSMS" />
    <!--SMS Configuration end-->
    
    <!--Roles IDs-->
    <add key="Admin" value="1" />
    <add key="Employee" value="2" />
    <add key="PM" value="3" />
    <add key="Customer" value="4" />
    <add key="Applicant" value="5" />
    <add key="Manager" value="6" />
    <add key="InventoryManager" value="7" />
    <add key="WarehouseManager" value="8" />
    <!--Roles IDs end-->
    
    <!--Notification Configuration start-->
    <add key="CommercialRegisterExpiryDateE" value="CommercialRegisterExpiryDate" />
    <add key="CommercialRegisterExpiryDateA" value="CommercialRegisterExpiryDate" />
    <add key="CommercialRegisterExpiryDateAlertBefore" value="30" />
    
    <add key="InsuranceCertificateExpiryDateE" value="InsuranceCertificateExpiryDate" />
    <add key="InsuranceCertificateExpiryDateA" value="InsuranceCertificateExpiryDate" />
    <add key="InsuranceCertificateExpiryDateAlertBefore" value="30" />

    <add key="ChamberCertificateExpiryDateE" value="ChamberCertificateExpiryDate" />
    <add key="ChamberCertificateExpiryDateA" value="ChamberCertificateExpiryDate" />
    <add key="ChamberCertificateExpiryDateAlertBefore" value="30" />

    <add key="IncomeAndZakaCertificateExpiryDateE" value="IncomeAndZakaCertificateExpiryDate" />
    <add key="IncomeAndZakaCertificateExpiryDateA" value="IncomeAndZakaCertificateExpiryDate" />
    <add key="IncomeAndZakaCertificateExpiryDateAlertBefore" value="30" />

    <add key="SaudilizationCertificateExpiryDateE" value="SaudilizationCertificateExpiryDate" />
    <add key="SaudilizationCertificateExpiryDateA" value="SaudilizationCertificateExpiryDate" />
    <add key="SaudilizationCertificateExpiryDateAlertBefore" value="30" />

    <add key="EmployeeRequestE" value="EmployeeRequest" />
    <add key="EmployeeRequestA" value="EmployeeRequest" />
    <add key="EmployeeRequestAlertBefore" value="0" />

    <add key="PassportE" value="Passport Expiry" />
    <add key="PassportA" value="Passport Expiry" />
    <add key="PassportAlertBefore" value="30" />

    <add key="IqamaE" value="Iqama Expiry" />
    <add key="IqamaA" value="Iqama Expiry" />
    <add key="IqamaAlertBefore" value="30" />

    <add key="JobApplicationE" value="JobApplication" />
    <add key="JobApplicationA" value="JobApplication" />
    <add key="JobApplicationAlertBefore" value="0" />

    <add key="ProjectStartedE" value="ProjectStarted" />
    <add key="ProjectStartedA" value="ProjectStarted" />
    <add key="ProjectStartedAlertBefore" value="0" />

    <add key="ProjectFinishedE" value="ProjectFinished" />
    <add key="ProjectFinishedA" value="ProjectFinished" />
    <add key="ProjectFinishedAlertBefore" value="0" />

    <add key="ProjectDeliveryE" value="ProjectDelivery" />
    <add key="ProjectDeliveryA" value="ProjectDelivery" />
    <add key="ProjectDeliveryAlertBefore" value="7" />

    <add key="TaskDeliveryE" value="TaskDelivery" />
    <add key="TaskDeliveryA" value="TaskDelivery" />
    <add key="TaskDeliveryAlertBefore" value="7" />

    <add key="TaskAssignedE" value="TaskAssigned" />
    <add key="TaskAssignedA" value="TaskAssigned" />
    <add key="TaskAssignedAlertBefore" value="0" />

    <add key="FirstInsDueE" value="FirstInsDue" />
    <add key="FirstInsDueA" value="FirstInsDue" />
    <add key="FirstInsDueAlertBefore" value="1" />

    <add key="SecondInsDueE" value="SecondInsDue" />
    <add key="SecondInsDueA" value="SecondInsDue" />
    <add key="SecondInsDueAlertBefore" value="1" />

    <add key="ThirdInsDueE" value="ThirdInsDueE" />
    <add key="ThirdInsDueA" value="ThirdInsDueA" />
    <add key="ThirdInsDueAlertBefore" value="1" />

    <add key="FourthInsDueE" value="FourthInsDueE" />
    <add key="FourthInsDueA" value="FourthInsDueA" />
    <add key="FourthInsDueAlertBefore" value="1" />

    <add key="MeetingE" value="Meeting" />
    <add key="MeetingA" value="Meeting" />
    <add key="MeetingAlertBefore" value="0" />

    <add key="RFIE" value="RFI" />
    <add key="RFIA" value="RFI" />
    <add key="RFIEditedE" value="RFI Edited" />
    <add key="RFIEditedA" value="RFI Edited" />
    <add key="RFIAlertBefore" value="0" />
    
    <add key="ItemVariationE" value="Item Variation" />
    <add key="ItemVariationA" value="Item Variation" />
    <add key="ItemVariationAlertBefore" value="0" />

    <add key="ItemReleaseE" value="Item Release" />
    <add key="ItemReleaseA" value="Item Release" />
    <add key="ItemReleaseAlertBefore" value="0" />

    <add key="PurchaseOrderE" value="Purchase Order" />
    <add key="PurchaseOrderA" value="Purchase Order" />
    <add key="PurchaseOrderAlertBefore" value="0" />

    <add key="ItemShortOnInventoryE" value="Item Short On-Hand Inventory" />
    <add key="ItemShortOnInventoryA" value="Item Short On-Hand Inventory" />
    <add key="ItemShortOnInventoryAlertBefore" value="0" />
    
    <!--Notification Configuration end-->
  </appSettings>
  <system.web>
    <globalization culture="auto" uiCulture="auto" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/404.html" />
      <error statusCode="500" redirect="~/500.html" />
      <error statusCode="403" redirect="~/403.html" />
      <error statusCode="401" redirect="~/401.html" />
      <error statusCode="400" redirect="~/400.html" />
      <error statusCode="503" redirect="~/503.html" />
    </customErrors>-->
    <customErrors mode="Off" />
    <sessionState timeout="40" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="40" />
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>

    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>