@using System.Configuration
@model EPMS.Models.MenuModels.ImageSliderModel

@{
    Layout = null;
    var direction = EPMS.Website.Resources.Shared.Common.TextDirection;
    var link = ConfigurationManager.AppSettings["SliderImages"];
}

<div id="slideshow" class="gradient">
    <!--  <div  style="margin: 0px; padding: 0px; position: fixed; left: 0px; top: 0px; width: 100% !important; height: 100%; opacity: 0.5;background: transparent url(images/02.png);"></div> -->
    <div class="iosSlider">
        @if (Model.ImageSliders != null)
        {
            <div class="slider">
                @foreach (var imageSlider in Model.ImageSliders)
                {
                    <div class="item">
                        @if (imageSlider.ImageName != null)
                        {
                            <img style="height: 537px" src="@link@imageSlider.ImageName" alt="" />
                        }
                        else
                        {
                            <img style="height: 537px" src="/Images/ImageNoAvailableBig.jpg" alt="" />
                        }
                        <div class="caption style1 fromright">
                            <h2 class="main_title">@imageSlider.TitleEn</h2>
                            <h3 class="title_big">@imageSlider.SubTitleEn</h3>
                            <a href="#" class="more"><img src="/sliders/iosslider/arr01.png" alt=""></a>
                            <h4 class="title_small">@imageSlider.Description</h4>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="prev">
            <div class="btn-label">Previous</div>
        </div>

        <div class="next">
            <div class="btn-label">Next</div>
        </div>

        <div class="selectorsBlock bullets">
            <div class="selectors">
                <div class="item first selected"></div>
                @for (var i = 1; i < Model.ImageSliders.Count(); i++)
                {
                    <div class="item"></div>
                }
            </div>
        </div>

    </div><!-- end iosSlider -->
    <div class="scrollbarContainer"></div>
</div><!-- end slideshow -->
