@model EPMS.Web.ViewModels.Department.DepartmentViewModel

@{
    ViewBag.Title = "DepartmentLV";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mainbar">
    <div class="page-head">
        <h2 class="pull-left">Job Title List View</h2>

        <div class="clearfix"></div>


        <div class="clearfix"></div>

    </div>
    <!-- Page heading ends -->

    <div class="container">
        <!-- Dashboard Graph starts -->
        <div class="row">
            <div class="col-md-12">
                <div class="customwidget">
                    @*<div class="customwidget-head">

                        <a href="~/JobTitle/AddEdit">
                                <div class="pull-right"><input type="button" class="btn btn-primary" value="Create New" /></div>
                            </a>
                        <div class="clearfix"></div>
                    </div>*@
                    <div class="">
                        <table id="dataTable" class="table table-striped table-hover table-bordered dataTable no-footer responsive" style="border: 1px solid #ddd !important">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th title="Department Name">Department Name</th>
                                    <th title="Department Description">Department Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DepartmentList != null)
                                {
                                    foreach (var item in Model.DepartmentList)
                                    {
                                        <tr>
                                            <td>@item.DepartmentId</td>
                                            <td>@item.DepartmentNameE</td>
                                            <td>@item.DepartmentDesc</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var oTable = $('#dataTable').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 1,
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [] },
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
        });

        //$('#btnFltr').on('click', function (e) {
        //    var deptValue = $("#Department_DepartmentId option:selected").text();
        //    if (deptValue == "") {
        //        toastr.error("Please select a Department");
        //        return false;
        //    } else {
        //        oTable.fnFilter(deptValue);
        //    }
        //    return true;
        //});
        //$('#btnResetFltr').on('click', function (e) {
        //    $('#Department_DepartmentId').val("");
        //    oTable.fnFilter('');
        //});
    });
</script>