@model EPMS.Models.MenuModels.WebsiteMenuModel
@{
    Layout = null;
}
<!-- start main_menu -->
<nav id="main_menu">
    <ul class="sf-menu clearfix">
        <li class="active">
            <a href="~/Home/Index">Home</a>
        </li>

        <li>
            <a href="#">About Us</a>
            <ul>
                <li><a href="#">Company Profile</a>

            </ul>
        </li>

        <li>
            <a href="javascript:;">Our Products</a>
            <ul>

                <li>
                    <a href="#">Labs Furnishing</a>
                    <ul>
                        <li><a href="#">Physics</a></li>
                        <li>
                            <a href="#">Chemistry</a>
                            <ul>
                                <li><a href="#">Physics</a></li>
                                <li><a href="#">Chemistry</a></li>
                                <li><a href="#">Biology</a></li>
                                <li><a href="#">Environment</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Biology</a></li>
                        <li><a href="#">Environment</a></li>
                    </ul>
                </li>
                <li><a href="#">Early Learning</a></li>
                <li>
                    <a href="#">Enriching Programs</a>

                </li>
                <li><a href="#">Kindergarden</a></li>

            </ul>
        </li>

        <li>
            <a href="#">Our Services</a>
            <ul>
                <li><a href="#">Air conditioning System</a></li>
                <li><a href="#">Training Services</a></li>

            </ul>
        </li>

        <li>
            <a href="#">News & Articles</a>
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#" class="prettyPhoto_transparent">Articles</a></li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>
<!-- end main_menu -->
