
@{
    ViewBag.Title = EPMS.WebModels.Resources.WebsiteClient.Paypal.Paypal.PaymentCanceled;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@EPMS.WebModels.Resources.WebsiteClient.Paypal.Paypal.PaymentCanceled</h2>

